---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "My Astro Learning Blog";
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
    <!-- {allPosts.map((post) =>  <ArticleCard url={`/posts/${post.id}/`} title={post.data.title} description={post.data.description} image={post.data.image} date={post.data} author={post.data.author} tags={post.data.tags}/>)} -->
    {allPosts.map((post) =>  <ArticleCard url={`/posts/${post.id}/`} post={post.data} />)}
  </div>
</BaseLayout>
