---
import BaseLayout from "../layouts/BaseLayout.astro";
import CategoryCard from "../components/CategoryCard.astro";
import { categoryData, iconMap } from "@/constants";
import { getCollection } from "astro:content";

const allArticles = await getCollection("blog");

// get all unique categories that's used in articles. not the one in content schema
const categories = [
  ...new Set(allArticles.map((article) => article.data.category)),
];

const title = "Zahrawi Dental Blog";
const description =
  "A modern, free, and open-source dental blog powered by community contributions, sharing up-to-date knowledge across all branches of dentistry.";
---

<BaseLayout title={title} description={description}>
  <main class="bg-rich-black text-rich-black-100 min-h-[75vh]">
    <div class="container mx-auto px-4 py-16">
      <!-- Header -->
      <header class="mb-16 text-center">
        <h1
          class="mb-4 bg-gradient-to-r from-blue-400 to-purple-500 bg-clip-text text-4xl font-bold text-transparent md:text-5xl"
        >
          Zahrawi Dental Blog
        </h1>
        <p class="mx-auto max-w-2xl text-lg md:text-xl">
          {description}
        </p>
      </header>

      <section class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <CategoryCard
          title="Restorative Dentistry"
          icon={iconMap.restorative}
          theme="blue"
          href="/restorative/"
        />
        <CategoryCard
          title="Endodontics"
          icon={iconMap.endodontics}
          theme="purple"
          href="/endodontics/"
        />
      </section>

      <!-- Subscribe CTA  -->
      <div class="mt-16 text-center">
        <a
          href="/subscribe/"
          class="rounded-full bg-gradient-to-r from-blue-500 to-purple-600 px-8 py-3 text-lg font-bold transition-all hover:from-blue-600 hover:to-purple-700"
        >
          Subscribe for Latest Insights
        </a>
        <p class="text-rich-black-400 mt-4 text-sm">
          <!-- Address Objections -->
          No spam. Unsubscribe at any time.
        </p>
      </div>
    </div>
  </main>
</BaseLayout>
