---
interface Props {
  title: string;
  description: string;
  icon: string;
  color: string;
  href: string;
}

const { title, description, icon, color, href } = Astro.props;
---

<a href={href} class="group block">
  <div
    class="rounded-lg bg-slate-800 p-6 shadow-lg transition-transform duration-300 hover:scale-105"
  >
    <!-- Icon -->
    <!-- <div class={`text-6xl mb-4 ${color} flex items-center justify-center`}> -->
    <!--   <Fragment set:html={icon} /> -->
    <!-- </div> -->

    <h2
      class="mb-3 text-2xl font-semibold transition-colors group-hover:text-blue-400"
    >
      {title}
    </h2>
    <p class="mb-4 text-slate-400">{description}</p>

    <!-- CTA button -->
    <span
      class="mt-4 inline-block rounded-md bg-blue-600 px-4 py-2 text-white transition-colors hover:bg-blue-700"
    >
      Explore Category
    </span>
  </div>
</a>
