---
import type { CollectionEntry } from "astro:content";
import {formatDate, getReadingTime} from '../utils';

interface Props {
  postObj: CollectionEntry<"blog">;
  baseUrl: string;

}
const { postObj,baseUrl} = Astro.props;
const post = postObj.data;
const readingTime = postObj.body ? getReadingTime(postObj.body) : 0;
---

<div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
  <div class="flex-shrink-0">
    <a href=`/blog/${postObj.id}`>
      <img
        class="h-48 w-full object-cover"
        src="/api/placeholder/600/400"
        alt="Teeth Whitening"
      />
    </a>
  </div>
  <div class="flex-1 bg-white p-6 flex flex-col justify-between">
    <div class="flex-1">
      <!---------------------- tags and category-->
      <a href=`/${baseUrl}/${postObj.id}` class="block">

        <!-- Custom color and icon for each category -->
        <div class="mb-3">
          <a
            href={`/blog/${post.category.toLowerCase()}`}
            class="inline-flex items-center px-3 py-1 rounded-full bg-blue-100 text-blue-800 text-sm font-medium"
          >
            <svg
              class="w-3 h-3 mr-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path>
            </svg>
            {post.category}
          </a>
        </div>
        <p class="text-sm font-medium text-teal-600">
          <!-- iterate over post.tags and display each tag -->
          {
            post.tags.map((tag: any) => (
              <a
                class="mr-2 inline-block bg-teal-500 text-white px-3 py-1 rounded-md text-sm font-medium mb-2"
                href={`/tags/${tag}`}
              >
                {tag}
              </a>
            ))
          }
        </p>
      </a>

      <!------------------  title and description -->
      <a href=`/blog/${postObj.id}` class="block mt-2">
        <p class="text-xl font-semibold text-gray-900">
          {post.title}
        </p>
        <p class="mt-3 text-base text-gray-500">
          {post.description}
        </p>
      </a>
    </div>

    <!------------------ author and date -->
    <a href=`/blog/${postObj.id}` class="block">
      <div class="mt-6 flex items-center">
        <div class="ml-3">
          <div class="flex space-x-1 text-sm text-gray-500">
            <!-- TODO: change format -->
            <time datetime="2025-03-10"
              >{formatDate(postObj.data.pubDate)}</time
            >
            <span aria-hidden="true">&middot;</span>
            <!-- TODO: dynamic time read -->
            <span>{readingTime} min read</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
