---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

import SideBarFindpage from "@/components/SideBarFindpage.tsx";
import LoadingIndicator from "../components/LoadingIndicator.astro";

import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { categoryData } from "@/constants";

interface Props {
  title: string;
  description: string;
}

const { title = "Zahrawi Dental Blog", description } = Astro.props as Props;

// list all available categories
const allArticles: CollectionEntry<"blog">[] = await getCollection("blog");

const rawCategories = [
  ...new Set(allArticles.map((article) => article.data.category)),
];
const categories = rawCategories.map((category) => {
  return {
    href: `/${category}`,
    title: categoryData[category as keyof typeof categoryData].displayName,
  };
});

categories.sort();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Zahrawi Dental Blog"
      href={new URL("rss.xml", Astro.site)}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="39cd2b10-2385-4cd1-8883-151d28432738"></script>
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="flex min-h-screen flex-col bg-gray-900 text-white">
    <LoadingIndicator />
    <div class="flex flex-grow flex-col lg:flex-row">
      <SideBarFindpage client:load categories={categories} transition:persist />

      <main class="px-4 py-6 pt-16 lg:flex-1 lg:px-8" transition:animate="fade">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
